<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../../layout/head') %>
      </head>

<body>
    <header>
        <%- include('../../layout/header') %>
      </header>
  <main>
   
      <p>
        <%= result.title %>
      </p>
      <p>
          <%= result.author %>
      </p>
      <p>
        <%= result.isbn %>
    </p>
      <img src=<%= result.image_url %> >
      <p>
        <%= result.description %>
    </p>
    <form action="/books/<%= result.id %>?_method=DELETE" method="POST">
      <input type="hidden" value="<%= result.id %>">
      <input type="submit" value="Delete book">
    </form>
    <form action="/books/<%= result.id %>?_method=PUT" method="POST">
      <fieldset>
        <legend>Update book</legend>
        book title
        <input type="text" name="title" value="<%= result.title %>">
        book author
        <input type="text" name="author" value="<%=result.author %>">
        book isbn
        <input type="text" name="isbn" value="<%= result.isbn %>">
        book description
        <br>
        <textarea cols="30" rows="10" name="description">
          <%= result.description %>
        </textarea>
        <br>
        <input type="submit" value="Update book">
      </fieldset>
    </form>
  </main>
</body>

</html>