<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  


</head>

<body>
  <%- include('../layout/header') %>

  <main>
    <h3>Total books = <%=results.length%></h3>
    <h4>My Book Collection</h4>
    <ul>
      <% if (results.length) { %>
        <% results.forEach(data=> { %>
          <li>
            <h4>
              <%= data.title %>
            </h4>
            <p>
              <%= data.author %>
            </p>
            <img src=<%= data.image_url %> alt="">
         
            <a href="/books/<%= data.id %>">More info</a>
          </li>
          <% }); %>
            <% } else { %>
              <p>No data was found</p>
              <% } %>
    </ul>

  </main>
</body>

</html>