<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">


</head>

<body>
  <main>
    <h4>My Book Collection</h4>
    <ul>
      <% if (results.length) { %>
        <% results.forEach(data=> { %>
          <li>
            <h4>
              <%= data.title %>
            </h4>
            <p>
              <%= data.auther %>
            </p>
            <img src=<%= data.placeholderImage %> alt="">
            <p>
              <%= data.isbn %>
            </p>
            <p>
              <%= data.description %>
            </p>
            
          </li>
          <% }); %>
            <% } else { %>
              <p>No data was found</p>
              <% } %>
    </ul>

  </main>
</body>

</html>